.container {
  width: 100%;
  max-width: $max-width;
  padding: 0 15px;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 255, 255, 0.3);
    margin: $gutter;

    [class^="col-"] {
      min-height: 100px;
      padding: 0 $gutter;
      border: 1px solid grey;
      @include mobile {
        flex-basis: 100%;
      }
      @include tablet {
        flex-basis: 100%;
      }
    }
  }
}

@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 (100% / $columns) * $i;
  }
}