/*region sekcja otwierająca*/
.main {
  width: 100%;
  height: 100vh;
  background: $color-white;
  box-shadow: 0 3px 6px #00000029;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin: 0;
  /*border: 2px solid red;*/
  background-image: url("../assets/Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  /*background-attachment: fixed;*/
}

.main .container {
  /*border: 2px solid blue;*/
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.main-title {
  text-align: center;
  font-family: $font-relaway;
  font-weight: 300;
  font-size: 49px;
  letter-spacing: 0;
  color: $color-black;
  opacity: 1;
  text-transform: capitalize;
}

.main-text {
  text-align: center;
  font-family: $font-open;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  color: $color-black;
  opacity: 1;
  padding: 20px;
}

.main-btn {
  background: $color-primary;
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 40px;
  opacity: 1;
  padding: 22px 157px 23px 157px;
  text-decoration: none;
  color: $color-white;
  font-family: $font-open;
}

/*endregion sekcja otwierająca*/